main#home {
  background-color: $colorgrey;
  position: relative;
  .current {
    background-color: $colorblue;
    position: absolute;
    color: $colorwhite;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    top: -25px;
    left: 150px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      width: 200px;
      .thumb {
        width: 200px;
        height: 200px;
        overflow: hidden;
      }
      h5 {
        color: $colorwhite;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
    .button {
      display: flex;
      justify-content: space-around;

      width: 100%;
      background-color: $colorblue;
      color: $colorwhite;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px 30px;  
      a {
        color: inherit;
      }
    }
  }
}

main#single {
  .stripe {
    height: 60px;
    background-color: $colorblue;
    display: flex;
    form {
      display: flex;
      input {
        background-color: transparent;
        cursor: pointer;
      }
    }
    button {
        background-color: transparent;
        color: $colorwhite;
        padding: 5px;
        cursor: pointer;
        a {
          color: inherit;
        }
    }
    .modal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      position: absolute;
      background-color: $colorwhite;
      width: 500px;
      height: 200px;
      top: 50%;
      left: 30%;
      border: 3px solid $colorblue;
      border-radius: 20px;
      button {
        background-color: $colorblue;
        color: $colorwhite;
        width: 100px;
        height: 40px;
        border-radius: 20px;
      }
      form {
        input {
          background-color: $colorblue;
          color: $colorwhite;
          width: 100px;
          height: 40px;
          border-radius: 20px;
        }

      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;

    width: 65%;
    .left {
      h2 {
        text-transform: uppercase;
      }
      .description {
        margin-right: 30px;
        .green {
          display: flex;
          justify-content: space-between;
  
          background-color: #55ba59;
          border-bottom: 1px solid #000000;
          .price {
            padding: 10px;
            span{
              color: #bafd9c;
              &:nth-last-child(1){
                margin-left: 270px;
              }
              &:nth-last-child(2){
                font-weight: 700;
                color: $colorwhite;
              }
            }
          }
          .avaibility {
            color: $colorwhite;
            border-left: 1px solid #000000;
            padding-left: 20px;
            padding: 10px;
          }
        }        
        p {
          line-height: 25px;
          font-weight: 500;
          font-size: 15px;
          color: #484545bf;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        font-weight: 500;
        color: #484545bf;
      }
    }
  }
  .specific {
    background-color: #F6F6F6;
    border-top: 1px solid #D1D1D1; 
    .container {
      justify-content: center;
      h4 {
        font-size: 20px;
        padding-bottom: 20px;
      }
      .spec {
        width: 50%;
        line-height: 15px;
        margin-left: 30px;
        .series {
          border-top: 1px solid #D1D1D1;
        }
        >div {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #D1D1D1;
          padding: 10px 0;
          span {
            font-size: 12px;
            font-weight: 600;
          } 
          a {
            font-size: 12px;
            color: $colorblue;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
    }
  }
}

main#form {
  border-top: 25px solid $colorblue;
  .container {
    width: 30%;
    form {
      display: flex;
      flex-direction: column;
      >* {
        padding: 10px 0;
        margin: 10px 0;
        border: 3px solid $colorblue;
        font-size: 15px;
      }
    }
  }
}